<div class="AdminPage">
    <div class="AdminPage__Container">
        <div class="AdminPage__Frame">
            <span class="AdminPage__Class">{{this.$student.class}}</span>
            <ul class="AdminPage__Info">
                <li>
                    <span>姓名</span>
                    <input type="text" placeholder="輸入姓名" [(ngModel)]='this.name'>
                </li>
                <li>
                    <span>分數</span>
                    <input type="number" [(ngModel)]='this.score'>
                </li>
                <li>
                    <button (click)='this.$student.addStudent(this.name, this.score)'>加入</button>
                </li>
            </ul>
        </div>
    </div>
</div>